@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  
.flying-image {
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
